APP_NAME=Lumen
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_TIMEZONE=UTC

LOG_CHANNEL=stack
LOG_SLACK_WEBHOOK_URL=

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=task_manager
DB_USERNAME=task_manager
DB_PASSWORD=secret

CACHE_DRIVER=file
QUEUE_CONNECTION=sync

MONGO_HOST=mongo
MONGO_PORT=27017
MONGO_DB=task_manager_logs
MONGO_USER=
MONGO_PASSWORD=